# <h2>DATATYPES IN PYTHON</h2>

It's a good idea to add comments in your code which improves code readability. Use the '#' symbol before writing your comment.
<br/><br/>print() function prints the input string to the output screen.

In [1]:
#This line prints the text 'Hello World'
print('Hello World!')

Hello World!

# <h3>Integer Datatype</h3>

An integer is a whole number which can be negative or positive including zero.<br/>eg: (-12,5,0,23)

In [2]:
#Let's check the type of these numbers using the function type()
print('Datatype of -12: ',type(-12))
print('Datatype of 5: ',type(5))
print('Datatype of 0: ',type(0))
print('Datatype of 23: ',type(23))

Datatype of -12:  <class 'int'>
Datatype of 5:  <class 'int'>
Datatype of 0:  <class 'int'>
Datatype of 23:  <class 'int'>

# <h3>Float Datatype</h3>

Floats are real numbers which include integers, and numbers in between integers. <br/>eg: (-3.0, -4.56,0.3, 6.9 )

In [3]:
#Let's check the type of these numbers using the function type()
print('Datatype of -3.0: ',type(-3.0))
print('Datatype of  -4.56: ',type(-4.56))
print('Datatype of 0.3: ',type(0.3))
print('Datatype of 6.9: ',type(6.9))

Datatype of -3.0:  <class 'float'>
Datatype of  -4.56:  <class 'float'>
Datatype of 0.3:  <class 'float'>
Datatype of 6.9:  <class 'float'>

# <h3>Boolean Datatype</h3>

Boolean datatype is used to store either True or False values.<br/>eg: (True, False)<br/>You must use the uppercase T and F for True and False, respectively.

In [4]:
#Let's check the type of these values using the function type()
print('Datatype of True: ',type(True))
print('Datatype of False: ',type(False))

Datatype of True:  <class 'bool'>
Datatype of False:  <class 'bool'>

# <h3>Typecasting</h3>

We can convert objects in python from one datatype to another datatype, which is known as typecasting.<br/>Let's try some examples.

In [5]:
#The following example converts an integer to float.
float(2)

2.0

In [6]:
#The following example converts an integer to string.
str(22)

'22'

In [7]:
#The following example converts integer 1 to boolean.
bool(1)

True

In [8]:
#The following example converts integer 0 to boolean.
bool(0)

False

In [9]:
#The following example converts float to integer.
int(9.0)

9

In [10]:
#The following example converts float to integer.
#Note the point that, when we convert float to an integer, we will lose the decimal value.
#Here we lose the decimal information of 0.5
int(9.5)

9

In [11]:
#The following example converts float to string.
str(34.48)

'34.48'

In [12]:
#The following example converts boolean True to float.
float(True)

1.0

In [13]:
#The following example converts boolean False to float.
float(False)

0.0

In [14]:
#The following example converts boolean True to int.
int(True)

1

In [15]:
#The following example converts string to int.
int('4')

4

In [16]:
#The following example converts string to float.
float('4.3')

4.3