<h3>Lists</h3>
<br>List in python is a data structure, where we can save an ordered sequence of data elements/items.
<br> Each element in a list is separated with a comma(,) and this set of  elements are  enclosed within square brackets.
<br>Let's try some examples.

In [1]:
#Create a list of integer numbers and float numbers
lst_nums=[20,30,45.5,60,10.6,100]
lst_nums

[20, 30, 45.5, 60, 10.6, 100]

In [2]:
#We can access the list elements using its index
#Let's print the 3rd and last element
print('3rd element:',lst_nums[2],'\nlast element:',lst_nums[5])

3rd element: 45.5
last element: 100

In [3]:
#print the 3rd and last element using negative indexing
print('3rd element:',lst_nums[-4],'\nlast element:',lst_nums[-1])

3rd element: 45.5
last element: 100

* Lists are mutable.

In [4]:
#Create another list which contain tuple, list, string and number.
lst_random=['Python is easy to learn.',('orange','mango','apple'),['python','scala','spark'],100,45]
lst_random

['Python is easy to learn.',
 ('orange', 'mango', 'apple'),
 ['python', 'scala', 'spark'],
 100,
 45]

In [5]:
#Let's check if lists are mutable.
lst_random[4]='updated list item'
lst_random

['Python is easy to learn.',
 ('orange', 'mango', 'apple'),
 ['python', 'scala', 'spark'],
 100,
 'updated list item']

In [6]:
#There is a tuple in the list
#print the tuple's 2nd item
lst_random[1][1]

'mango'

* List operations

In [7]:
#Let's try some list operations.
#concatenation
lst_fruit=['apple','mango','pear']
lst_veg=['carrot','beans','cabbage']
#concatenate both lists to form a single list
lst_fruit_veg=lst_fruit+lst_veg
lst_fruit_veg

['apple', 'mango', 'pear', 'carrot', 'beans', 'cabbage']

In [8]:
#slicing
#print the last 3 elements in lst_fruit_veg
lst_fruit_veg[3:6]

['carrot', 'beans', 'cabbage']

In [9]:
#extend()
#add ['grapes','potato'] to the list
lst_fruit_veg.extend(['grapes','potato'])
lst_fruit_veg

['apple', 'mango', 'pear', 'carrot', 'beans', 'cabbage', 'grapes', 'potato']

In [10]:
#append()
#add ['spinach','kale'] to the list
lst_fruit_veg.append(['spinach','kale'])
lst_fruit_veg

['apple',
 'mango',
 'pear',
 'carrot',
 'beans',
 'cabbage',
 'grapes',
 'potato',
 ['spinach', 'kale']]

See the difference between extend() and append() ??<br>
extend() adds each element in the input list to the main list.<br>
append() adds the input list itself as a single element to the main list.

In [11]:
#del or remove()
#using del, remove ['spinach','kale'] from the main list
del lst_fruit_veg[-1]
lst_fruit_veg

['apple', 'mango', 'pear', 'carrot', 'beans', 'cabbage', 'grapes', 'potato']

In [12]:
#using remove(), remove ['spinach','kale'] from the main list
lst_fruit_veg.remove('potato')
lst_fruit_veg

['apple', 'mango', 'pear', 'carrot', 'beans', 'cabbage', 'grapes']

<h3>Tuples</h3><br>
Tuple in python is a data structure, where we can save an ordered sequence of data elements/items.<br>
Each element in a tuple is separated with a comma(,) and this set of  elements are  enclosed within parentheses.

In [13]:
#Create a tuple of integer numbers and float numbers
tpl_nums=(12.7,40,34,56.7,10,5.2)
tpl_nums

(12.7, 40, 34, 56.7, 10, 5.2)

In [14]:
#We can access the tuple elements using its index
#Let's print the 2nd and last element
print('2nd element:',tpl_nums[1],'\nlast element:',tpl_nums[5])

2nd element: 40
last element: 5.2

In [15]:
#print the 2nd and last element using negative indexing
print('2nd element:',tpl_nums[-5],'\nlast element:',tpl_nums[-1])

2nd element: 40
last element: 5.2

In [16]:
#Create another tuple which contain tuple, list, string and number.
tpl_nested=(['red','orange','green'],('sky','jungle','animals'),'python is easy to learn.',555,23.7)
tpl_nested

(['red', 'orange', 'green'],
 ('sky', 'jungle', 'animals'),
 'python is easy to learn.',
 555,
 23.7)

In [17]:
#There is a nested tuple in tpl_nested
#print the nested tuple's 3rd item
tpl_nested[1][2]

'animals'

Tuples are immutable.

In [18]:
#Let's check if tuples are mutable or immutable.
tpl_nested[3]='updated list item'
tpl_nested

TypeError: 'tuple' object does not support item assignment

The above example proves that tuples are immutable.

In [19]:
#Let's try some tuple operations.
tpl_vehicles=('car','bus','train')
tpl_vehicles

('car', 'bus', 'train')

In [20]:
#concatenate tuple ('scooter','truck') to tpl_vehicles
tpl_vehicles=tpl_vehicles+('scooter','truck')
tpl_vehicles

('car', 'bus', 'train', 'scooter', 'truck')

In [21]:
#slicing
#print the first 3 elements in tpl_vehicles
tpl_vehicles[0:3]

('car', 'bus', 'train')

In [22]:
#find length of tuple using len()
len(tpl_vehicles)

5

In [23]:
#check type of a tuple with one item
tpl_with_one_item=(5,)
print('First item in tuple:',tpl_with_one_item[0],'\nType:',type(tpl_with_one_item))

First item in tuple: 5
Type: <class 'tuple'>

In [24]:
#Let's try to add the single item in tuple without a comma
tpl_with_one_item=(5)
print('\nType:',type(tpl_with_one_item))
print('First item in tuple:',tpl_with_one_item[0])

Type: <class 'int'>

TypeError: 'int' object is not subscriptable

See the difference?<br>
When we add a single item in tuple without a comma, python will NOT consider the object as tuple.

In [25]:
#Since tuples are immutable, we cannot add or remove elements from tuple.
#But we can delete the entire tuple.
tpl_to_delete=('a','e','i','o','u')
print('Vowels:',tpl_to_delete)
del tpl_to_delete
print('Vowels:',tpl_to_delete)

Vowels: ('a', 'e', 'i', 'o', 'u')

NameError: name 'tpl_to_delete' is not defined